SiiNunit
{
mod_package : .economy_chest
{
	package_version:  "{{VERSION}}"
	display_name:     "{{DISPLAY_NAME}}"
	author:           "{{AUTHOR}}"

	category[]: "other"

	description_file: "mod_description.txt"
{{ICON_LINE}}{{COMPAT_LINES}}
	mp_mod_optional: true
}
}
